---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Blog">
  <section class="container">
    <h1>Blog</h1>
    <p>Články budou brzy k dispozici.</p>
  </section>
</BaseLayout>
