---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Blog">
  <section class="container">
    <h1>Časté dotazy</h1>
    <p>Časté dotazy budou brzy k dispozici.</p>
  </section>
</BaseLayout>
