---
import BaseLayout from "../layouts/BaseLayout.astro";
import { points } from "../data/mockPoints";
import PointCard from "../components/PointCard.astro";
import IconGuide from "../components/IconGuide.astro";
// import ItineraryFilter from "../components/ItineraryFilter";

// Sort by km
const sortedPoints = [...points].sort((a, b) => a.km - b.km);

const filter = Astro.url.searchParams.get("filter");

const filteredPoints = sortedPoints.filter((point) => {
  if (!filter || filter === "all") return true;
  if (filter === "sleeping") return point.sleeping.length > 0;
  if (filter === "food") return point.food.length > 0;
  if (filter === "water") return point.water;
  return true;
});
---

<BaseLayout title="Itinerář | Orlické hory">
  <section class="container">
    <h1>Itinerář</h1>
    <p>Přehled bodů podél trasy etapy Orlické hory.</p>
    <IconGuide />
  </section>

  <section class="container">
    <div class="filters">
      <span>Filtrovat</span>
      <a
        href="/itinerar"
        class={!filter ? "active button primary" : "button primary"}>Vše</a
      >
      <a
        href="/itinerar?filter=sleeping"
        class={filter == "sleeping"
          ? "active button primary"
          : "button primary"}>Ubytování</a
      >
      <a
        href="/itinerar?filter=food"
        class={filter == "food" ? "active button primary" : "button primary"}
        >Jídlo</a
      >
      <a
        href="/itinerar?filter=water"
        class={filter == "water" ? "active button primary" : "button primary"}
        >Voda</a
      >
    </div>
  </section>

  <section class="container points">
    {filteredPoints.map((point) => <PointCard filter={filter} point={point} />)}
  </section>
</BaseLayout>

<style>
  .points {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .filters {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    span {
      display: inline-flex;
      align-items: center;
      font-weight: 700;
    }
  }
</style>
