---
import BaseLayout from "../layouts/BaseLayout.astro";
import { supabase } from "../lib/supabase.ts";
import PointCard from "../components/PointCard.astro";
import IconGuide from "../components/IconGuide.astro";

import {categoryMap, typeMap} from "../utils/dataMapping.ts";
import { mapKey } from '../utils/mapKey.ts';
import { groupPointsByLocation } from "../utils/groupPoints";
import type { Point } from "../types/point";

let { data, error } = await supabase.from("points").select("*").order("km", { ascending: true });

if (error) {
  console.error("Error fetching points:", error);
}

let points = data as Point[];

if (!points) {
  return null
}

const groupedPoints = groupPointsByLocation(points);
groupedPoints.sort((a, b) => a.km - b.km);

const sortedPoints = points
  .map(p => ({
    ...p,
    categoryKey: mapKey(categoryMap, p.category),
    typeKey: mapKey(typeMap, p.type)
  }))
  .sort((a, b) => a.km - b.km);

const filter = Astro.url.searchParams.get("filter");

const filteredPoints = sortedPoints.filter((point) => {
  if (!filter || filter === "vse") return true;
  if (filter === "ubytovani") return point.categoryKey == "ubytovani";
  if (filter === "obcerstveni") return point.categoryKey == "obcerstveni";
  if (filter === "navigace") return point.categoryKey == "navigace";
  if (filter === "doprava") return point.categoryKey == "doprava";
  if (filter === "turisticke_cile") return point.categoryKey == "turisticke_cile";
  if (filter === "ostatni") return point.categoryKey == "ostatni";
  return true;
});
---

<BaseLayout title="Itinerář | Orlické hory">
  <section class="container">
    <h1>Itinerář</h1>
    <p>Přehled bodů podél trasy etapy Orlické hory.</p>
  </section>

  <section class="container">
    <IconGuide />
    <div class="filters">
      <div class="filters-caption">Filtrovat</div>
      <div class="filters-actions">
        <a href="/itinerar" class={!filter ? "active button primary" : "button primary"}>Vše</a>
        <a
          href="/itinerar?filter=ubytovani"
          class={filter == "ubytovani" ? "active button primary" : "button primary"}>Ubytování</a
        >
        <a
          href="/itinerar?filter=obcerstveni"
          class={filter == "obcerstveni" ? "active button primary" : "button primary"}>Jídlo</a
        >
        <a
          href="/itinerar?filter=navigace"
          class={filter == "navigace" ? "active button primary" : "button primary"}>Navigace</a
        >
        <a
          href="/itinerar?filter=doprava"
          class={filter == "doprava" ? "active button primary" : "button primary"}>Doprava</a
        >
        <a
          href="/itinerar?filter=turisticke_cile"
          class={filter == "turisticke_cile" ? "active button primary" : "button primary"}
          >Turistické cíle</a
        >
        <a
          href="/itinerar?filter=ostatni"
          class={filter == "ostatni" ? "active button primary" : "button primary"}>Ostatní</a
        >
      </div>
    </div>
  </section>

  <section class="container points">
    {filteredPoints.map((point) => <PointCard filter={filter} point={point} />)}
  </section>
</BaseLayout>

<style>
  .points {
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
  }

  .filters {
    display: flex;
    gap: 1rem;
    align-items: baseline;
    font-weight: 700;
  }

  .filters-actions {
    display: flex;
    gap: 0.8rem;
    flex-wrap: wrap;
  }

  .filters-caption {
    display: none;

    @media (min-width: 768px) {
      display: block;
    }
  }
</style>
