---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Mapa">
  <section class="container">
    <h1>Mapa</h1>
    <p>Mapa bude brzy k dispozici.</p>
  </section>
</BaseLayout>

