---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Ochrana soukromí">
  <section class="container">
    <h2>Ochrana soukromí</h2>
    Tato webová aplikace respektuje vaše soukromí. Nesbíráme, neukládáme ani nesdílíme žádné osobní údaje.
  </section>

  <section class="container">
    <h3>Jaká data zpracováváme</h3>
    <p>
      Aplikace neprovádí žádné sledování uživatelů, nepoužívá analytické nástroje ani neukládá
      osobní údaje na server.
    </p>
  </section>
  <section class="container">
    <h3>Lokální úložiště (localStorage)</h3>
    <p>
      Pro zajištění správného fungování aplikace ukládáme některá nastavení přímo do vašeho zařízení
      pomocí technologie localStorage. Může se jednat například o:
    </p>
    <ul>
      <li>zvolenou trasu</li>
      <li>nastavení filtrů</li>
      <li>preferované zobrazení</li>
    </ul>
    <p>Tato data:</p>
    <ul>
      <li>zůstávají pouze ve vašem zařízení</li>
      <li>nejsou odesílána na žádný server</li>
      <li>nejsou sdílena s třetími stranami</li>
    </ul>
  </section>
  <section class="container">
    <h3>Cookies</h3>
    <p>Tato aplikace nepoužívá cookies pro sledování ani marketingové účely.</p>
  </section>
</BaseLayout>
