---
const { title } = Astro.props;

console.log("detail section", title);
---

<section class="section">
  <h2>{title}</h2>
  <div class="content">
    <slot />
  </div>
</section>

<style>
  .section {
    margin-top: 24px;
  }

  .section h2 {
    font-size: 1.2rem;
    margin-bottom: 8px;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
</style>
