---
import * as LucideIcons from "lucide-react";

interface Props {
  name: string;
  size?: number;
  title?: string;
  class?: string;
  noBackground?: boolean;
  notInteractive?: boolean;
}

const {
  name,
  size = 19,
  title,
  class: className = "",
  noBackground: noBackground = false,
  notInteractive: notInteractive = false,
} = Astro.props as Props;

const IconComponent = (LucideIcons as any)[name];
---

{
  IconComponent && (
    <span
      class={`icon ${className} ${noBackground ? "no-background" : ""}  ${notInteractive ? "not-interactive" : ""}`}
      title={title}
    >
      <IconComponent size={size} strokeWidth={1.5} />
    </span>
  )
}

<style>
  .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: rgba(31, 61, 43, 0.08);
    color: var(--color-primary);

    &.no-background {
      background: none;
    }

    &.not-interactive {
      width: 28px;
      height: 28px;
    }

    @media (min-width: 768px) {
      width: 28px;
      height: 28px;
    }
  }
</style>
