---
import Icon from "./Icon.astro";
---

<div class="legend">
  <div class="legend-caption">
    <span>Legenda</span>
  </div>
  <div class="legend-item">
    <Icon name="Bed" size={16} notInteractive />
    <span>Ubytování</span>
  </div>

  <div class="legend-item">
    <Icon name="Utensils" size={16} notInteractive />
    <span>Jídlo</span>
  </div>

  <div class="legend-item">
    <Icon name="Signpost" size={16} notInteractive />
    <span>Navigace</span>
  </div>

  <div class="legend-item">
    <Icon name="BusFront" size={16} notInteractive />
    <span>Doprava</span>
  </div>

  <div class="legend-item">
    <Icon name="Mountain" size={16} notInteractive />
    <span>Turistické cíle</span>
  </div>

  <div class="legend-item">
    <Icon name="Info" size={16} notInteractive />
    <span>Ostatní</span>
  </div>
</div>

<style>
  .legend {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
    font-size: 0.85rem;
  }

  .legend-item {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 0.5rem;
    opacity: 0.8;
  }

  .legend-caption {
    opacity: 1;
    display: none;
    flex-wrap: wrap;
    font-size: 1rem;
    font-weight: 700;

    @media (min-width: 768px) {
      display: block;
    }
  }
</style>
